gradio
huggingface_hub
autotrain-advanced
transformers
# auto-gptq
# Maybe you need to install it manually: https://github.com/oobabooga/text-generation-webui/issues/1534
# CMAKE_ARGS="-DLLAMA_CUBLAS=on" NVCC_PREPEND_FLAGS='-ccbin /usr/bin/g++-11' FORCE_CMAKE=1 CXX=g++-11  CC=gcc-11 pip install llama-cpp-python --no-cache-dir
llama-cpp-python
# fire